* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #fff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --border-img: #fff8;

  --border-button: rgba(255, 255, 255, 0.5);
  --bg-button: rgba(255, 255, 255, 0.1);

  --border-button-hover: #fff;
  --bg-button-hover: rgba(255, 255, 255, 0.05);

  --higlight-hover: rgba(255, 255, 255, 0.2);

  --switch-bg-url: url("./assets/moon-stars.svg");

  --bg-tag:rgba(53, 5, 141, 0.603);
}

.light {
  --text-color: #000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --border-img: #0005;

  --border-button: rgba(0, 0, 0, 0.5);
  --bg-button: rgba(0, 0, 0, 0.05);
  --border-button-hover: #000;
  --bg-button-hover: rgba(0, 0, 0, 0.02);

  --higlight-hover: rgba(0, 0, 0, 0.1);

  --switch-bg-url: url("./assets/sun.svg");
  --bg-tag:rgba(116, 9, 138, 0.397);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
 height: 100vh;
 
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
@media(min-width:700px){
  :root{
    --bg-url:url(./assets/bg-desktop.jpg);
  }
  .light{
    --bg-url:url(./assets/bg-desktop-light.jpg);
  }
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  height: 112px;
  clip-path: circle(50% at 50% 50%);
  border: solid 2px var(--border-img);
  border-style: inset;
  border-radius: 50%;
  
}

#profile p {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

#switch {
  position: relative;
  padding: 0;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
 
}
.light #switch button {
 animation: switch-in 0.4s forwards;
 -webkit-animation: switch-in 0.4s forwards;
}
#switch button {
  width: 32px;
  height: 32px;
  background: #fff var(--switch-bg-url) no-repeat center;
  border-radius: 50%;
  border: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  animation: switch-out 0.4s ;
  -webkit-animation: switch-out 0.4s ;
}
#switch button:hover{
  outline: 8px solid var(--higlight-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--border-button);
  background: var(--bg-button);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

ul.links {
  display: flex;
  flex-direction: column;

  padding: 24px;
  list-style: none;
  gap: 1rem;
}

ul.links li {
  position: relative;
  width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var(--border-button);
  background: var(--bg-button);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.5s;
}

ul.links li:hover {
  border: 1.5px solid var(--border-button-hover);
  background: var(--bg-button-hover);
}

ul.links li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag{
  position: absolute;
  right: 12px;
  top: 4px;
  background: var(--bg-tag);
  color: #fff;
  width: 44px;
  padding: 2px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.social-links {
  display: flex;
  align-items: center;
  padding: 24px 0;
  justify-content: center;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  padding: 16px;
  border-radius: 50%;
}
.social-links ion-icon {
  width: 24px;
  height: 24px;
  color: var(--text-color);
}
.social-links a:hover {
  background: var(--higlight-hover);
}

footer {
  padding: 24px;
  text-align: center;
}

@keyframes switch-in{
  from{
    left:0
  }
  to{
    left: 50%;
  }
}
@keyframes switch-out{
  from{
    left: 50%;
  }
  to{
    left: 0;
  }
}